<div class="comments">
  {{#each this}}
    <div class="card">
      <span class="card-body">{{comment_text}}</span>
      <div class="card-footer">
        -{{user.username}}, {{format_date created_at}}
      </div>
    </div>
  {{/each}}
</div>
