<div class="card">
  <h3 class="card-header">Sign Up</h3>

  <form id="signup-form" class="card-body">
    <div class="form-group">
      <label for="username">Username</label>
      <input id="username-signup" type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input id="password-signup" type="password" class="form-control" />
    </div>
    <button type="submit" class="button btn">Sign Up</button>
    <button class="button btn"><a href="/login">Log in</a></button>
  </form>
</div>

<script src="/javascript/signup.js"></script>
