{{> post-info post}}

{{> comments post.comments}}

{{#if loggedIn}}
  <div class="card">
    <h3 class="card-header">Leave A Comment</h3>
    <form id="comment-form" class="card-body">
      <div class="form-group">
        <label for="comment">Comment</label>
        <input id="comment" class="form-control" />
      </div>
      <button type="submit" class="button btn">Submit</button>
    </form>
  </div>
{{/if}}

{{#if loggedIn}}
  <script src="/javascript/comment.js"></script>
{{/if}}
