/* --- Universal Styling ------------------------------ */

h1 {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin: 0;
}
h2 {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 10px 0;
}
h3 {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: bold;
  line-height: 50px;
  margin: 0;
}
h4 {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  margin: 0;
}
.button {
  background-color: #6c56ac;
  border-color: #6c56ac;
  color: #fff;
}
.button:hover,
.button:focus {
  background-color: #4c3c7a;
  border-color: #4c3c7a;
  color: #fff;
}
.hide {
  display: none;
}
.card-body {
  flex: 1 1 auto;
  padding: 20px;
}

/* --- Header ----------------------------------------- */

header {
  background: linear-gradient(90deg, rgba(153,137,197,1) 0%, rgba(108,86,172,1) 35%, rgba(76,60,122,1) 100%);
  padding: 6px 0;
  text-align: center;
}

/* --- Search / Search History ------------------------ */

#movieInput {
  width: calc(100% - 55px);
}
#movieInput:focus {
  border-bottom: 1px solid #6c56ac;
  box-shadow: 0 1px 0 0 #6c56ac;
}
#searchButton {
  position: relative;
  top: 2px;
  width: 51px;
}
#movieList .collection-item, 
#clearList .collection-item {
  cursor: pointer;
}
#movieList .collection-item:hover, 
#clearList .collection-item:hover {
  background-color: #4c3c7a;
  border-color: #4c3c7a;
  color: #fff;
}
#movieList .active {
  background-color: #6c56ac;
  border-color: #6c56ac;
}
#clearList {
  margin: 20px 0;
}

/* --- Current Movie Details -------------------------- */

#currentMovie {
  margin: 10px auto;
  padding: 0 15px;
  width: calc(100% - 30px);
}
#currentMovie img {
  float: right;
  margin: 0 0 0 20px;
  width: 210px;
}
.details {
  color: #666;
}
.about,
.cast,
.director,
.writer {
  padding: 10px 0;
}
.about:before,
.cast:before,
.director:before,
.writer:before {
  display: block;
  font-size: 15px;
  font-weight: bold;
}
.about:before {
  content: "About";
}
.cast:before {
  content: "Cast";
}
.director:before {
  content: "Director";
}
.writer:before {
  content: "Writer";
}

/* --- Recommendations -------------------------------- */

#movieRecommendations {
  margin: 10px auto;
  padding: 0 15px;
  width: calc(100% - 30px);
}
#recommendationsCardsList {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
}
.recommendationsCardItem {
  background-color: #6c56ac;
  border-color: #6c56ac;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 0 20px 0 0;
  padding: 12px;
  text-align: center;
  width: calc((100% - 80px) / 5);
}
.recommendationsCardItem:last-child {
  margin: 0;
}
.recommendationsCardItem:hover {
  background-color: #4c3c7a;
  border-color: #4c3c7a;
}
.recommendationsCardItem img {
  height: 270px;
  width: 180px;
}

/* --- Error Modal ------------------------------------ */

#errorModal {
  top: 30px;
}

/* --- Media Queries ---------------------------------- */

@media screen and (max-width: 1023px) {
  #recommendationsCardsList {
    flex-direction: column;
  }
  .recommendationsCardItem {
    margin: 0 0 20px 0;
    width: 100%;
  }
  .recommendationsCardItem img {
    height: 100%;
    width: 100%;
  }
}